* {
  font-family: 'Roboto Condensed', sans-serif;
}

.menu-item {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: block;
}

.menu-item span {
  font-weight: bold;
}
.active {
  box-shadow: 0px 10px whitesmoke;
}

.menu-item a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.card {
  padding: 10px;
  padding-left: 20px;
  /* margin-left: 10px; */
  background: whitesmoke;
  color: black;
  border-radius: 10px;
}

.horz-tab {
  background: whitesmoke;
  color: black;
  padding: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

.horz-tab.active {
  box-shadow: 10px 0px #D80027;
}

.flash-message {
  padding: 10px;
  margin-bottom: 2px;
  background: whitesmoke;
  color: #D80027;
}

.flash-message-wrapper {
  position: fixed;
  top: 0;
  left: 15%;
  width: 70%;
}

.error-message {
  padding: 10px;
  margin-bottom: 2px;
  background: #D80027;
  color: white;
}