<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Secure Banking Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/keyboard.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/keyboard.js') }}"></script>
        <script src="{{ url_for('static', filename='js/keyboardslide.js') }}"></script>
        <style>
            body {
                background: url("{{ url_for('static', filename='images/gravel_bg_tile.png') }}");
                margin-top: 3%;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
        <script>
        window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#fffbfb",
              "text": "#000000"
            },
            "button": {
              "background": "#c82333",
              "text": "#ffffff"
            }
          },
          "position": "bottom-right"
        })});
        </script>
        
    </head>
    <body>
        <div class="container">
            <img src="{{ url_for('static', filename='images/banklogo.png') }}" alt="Bank"
            height="100px">
            <span style="font-size: 50px; line-height: 100px; 
            vertical-align: bottom; font-family: 'Rokkitt', serif;">Secure Bank</span>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}

            <br>

            {% if error %}
                <p class="error"><strong>Error: </strong>{{ error }}</p>
            {% endif %}

            <br>

            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
        <!-- Add external scripts here -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/2c00ed3864.js"></script>

        
        
        <!-- inline scripts here -->
        <script>
            $(document).bind("contextmenu", function(e) {
                alert("Right click has been disabled");
                return false;
            });
        </script>
        
        {% block scripts %}
        {% endblock %}
    </body>
</html>
