<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Secure Banking Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/keyboard.css') }}">
    </head>

<body background="{{ url_for('static', filename='abc.jpg') }}">


    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 form-group">
		<form action="#" method="POST">

            <input type="hidden" value="1" name="kontrol">
          <h3 class="turuncubaslik-bold"><span class="glyphicon glyphicon-lock"></span>LOGIN</h3>
          <br>

            <label for="Username">Username</label>
		    <input type="text" name="username" autofocus required class="form-control" id="keyboard" tabindex="1" value="{{ request.form.username }}">
            <br>
              
            <label for="password">Password</label>
		    <input type="password"  name="password" required class="form-control" id="pwd" tabindex="2" value="{{ request.form.password }}">
            <br>
            <input type="submit" class="btn btn-danger btn-lg btn-block" id="fat-btn" value="Sign In">
		</form>
    </div>
        {% if error %}
            <p class="error"><strong>Error: </strong>{{ error }}</p>
        {% endif %}

        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}

        <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
          <p class="text-right hidden-xs"><a data-toggle="collapse" data-parent="#accordion" href="#virtualkeyboard" class="text-danger">Virtual Keyboard <span class="caret"></span></a></p>
          <div id="virtualkeyboard" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="keyboard">
                  <li class="char">^</li>
                  <li class="char">1</li>
                  <li class="char">2</li>
                  <li class="char">3</li>
                  <li class="char">4</li>
                  <li class="char">5</li>
                  <li class="char">6</li>
                  <li class="char">7</li>
                  <li class="char">8</li>
                  <li class="char">9</li>
                  <li class="char">0</li>
                  <li class="char">-</li>
                  <li class="char">_</li>
                  <li class="backspace last"><span class="glyphicon glyphicon-arrow-left"></span></li>
                  <li class="tab"><span class="glyphicon glyphicon-transfer"></span></li>
                  <li class="char">q</li>
                  <li class="char">w</li>
                  <li class="char">e</li>
                  <li class="char">r</li>
                  <li class="char">t</li>
                  <li class="char">y</li>
                  <li class="char">u</li>
                  <li class="char">ı</li>
                  <li class="char">o</li>
                  <li class="char">p</li>
                  <li class="char">ğ</li>
                  <li class="char">ü</li>

                  <li class="capslock">c.lock</li>
                  <li class="char">a</li>
                  <li class="char">s</li>
                  <li class="char">d</li>
                  <li class="char">f</li>
                  <li class="char">g</li>
                  <li class="char">h</li>
                  <li class="char">j</li>
                  <li class="char">k</li>
                  <li class="char">l</li>
                  <li class="char">ş</li>  
                  <li class="char">i</li>

                  <li class="return last">return</li>
                  <li class="char at">@</li>
                  <li class="char">`</li>
                  <li class="char">z</li>
                  <li class="char">x</li>
                  <li class="char">c</li>
                  <li class="char">v</li>
                  <li class="char">b</li>
                  <li class="char">n</li>
                  <li class="char">m</li>
                  <li class="char">ö</li>
                  <li class="char">ç</li>
                  <li class="char">?</li>
                  <li class="char">_</li>
                  <li class="char">=</li>
                  <li class="char">|</li> 
                  <li class="space"><span class="glyphicon glyphicon-resize-horizontal"></span></li>
                </ul>
            </div>d
        </div>
    </div>
</div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script  src="{{ url_for('static', filename='js/keyboard.js') }}"></script>
</body>
</html>

 <!-- https://ideas.nationalbank.ca/10-good-reasons-for-using-online-banking/ -->